{% extends "base.html" %}

{% block content %}
<div id="workcard" class="card">
  <div class="card-header d-flex" style="justify-content: space-between;">
    <div>{{ work.username }}: {{ work.get_helps_display }}</div>
    <div>{{ work.publication_date }}</div>
  </div>
  <div class="card-body">
    <pre><code class="python">{{ object.code|safe }}</code></pre>
    <img src="/{{ work.picture }}">
  </div>
  <div class="card-footer">
    <form action="" method="post">
      {% csrf_token %}
      {% if classroom.teacher_id == user.id %}
      <div class="custom-control custom-switch text-right">
        <input type="checkbox" class="custom-control-input" id="work_assistant" {% if wassistant %}checked{% endif %}>
        <label class="custom-control-label" for="work_assistant" id="work_assistant_label">
          設為{% if group %}第{{ group }}組{% endif %}小老師
        </label>
      </div>        
      {% endif %}
      <div>
      {{ form.as_p }}
      </div>
      <input type="submit" value="送出">
    </form>
  </div>
</div>
{% endblock %}

{% block header %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
{% endblock %}

{% block footer_script %}
  hljs.initHighlightingOnLoad();
  {% if classroom.teacher_id == user.id %}
  $('#work_assistant').on('change', function(e) {
    var launcher = this;
    e.preventDefault();
    console.log(this.checked);
    $.post(
      '/teacher/work/assistant/make/', 
      {
        userid: {{ stuid }}, 
        action: launcher.checked ? "set" : "unset", 
        typing: {{ typing }}, 
        lesson: {{ classroom.lesson }}, 
        index: {{ index }},
        classroomid: {{ classroom.id }},
      },    
    );
  });
  {% endif %}
{% endblock %}