<h1>(1)倍數和</h1>

<p>在小於10的數字中，3和5的倍數有3,5,6,9，這些倍數的和是23</p>

<p>【最後目標】請求出小於1000的數字中，所有3和5的倍數和。</p>

<p>練習1：用for迴圈印出小於10的正整數</p>
<img src="/static/lesson/1_1.png" class="annotate">

<iframe width="800" height="280" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=for%20i%20in%20range%281,%2010%29%3A%0A%20%20%20%20print%28i%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

<p>練習2：判斷輸入值是否為3的倍數</p>
<img src="/static/lesson/1_2.png" class="annotate">

<iframe width="800" height="380" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=number%20%3D%20int%28input%28'%E8%AB%8B%E8%BC%B8%E5%85%A5%E6%95%B8%E5%AD%97'%29%29%0Aif%20number%20%25%203%20%3D%3D%200%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E6%98%AF3%E7%9A%84%E5%80%8D%E6%95%B8'%29%0Aelse%20%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E4%B8%8D%E6%98%AF3%E7%9A%84%E5%80%8D%E6%95%B8'%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

<p>練習3：計算小於100的正整數和</p>
<img src="/static/lesson/1_3.png" class="annotate">

<iframe width="800" height="300" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=sum%20%3D%200%0Afor%20i%20in%20range%281,%20100%29%3A%0A%20%20%20%20sum%20%3D%20sum%20%2B%20i%0Aprint%28sum%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

<p>練習4：判斷是否為2或3的倍數</p>
<img src="/static/lesson/1_4.png" class="annotate">

<iframe width="800" height="400" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=number%20%3D%20int%28input%28'%E8%AB%8B%E8%BC%B8%E5%85%A5%E6%95%B8%E5%AD%97'%29%29%0Aif%20number%20%25%202%20%3D%3D%200%20or%20number%20%25%203%20%3D%3D%200%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E6%98%AF2%E6%88%963%E7%9A%84%E5%80%8D%E6%95%B8'%29%0Aelse%20%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E4%B8%8D%E6%98%AF2%E4%B9%9F%E4%B8%8D%E6%98%AF3%E7%9A%84%E5%80%8D%E6%95%B8'%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>