<h1>(3)質因數</h1>

<p>120的所有因數有1,2,3,4,5,6,8,10,12,15,20,24,30,40,60, 120</p>
<p>這些因數中，有2,3,5三個數是質數，因此又稱為120的質因數，</p>
<p>而120可以因數分解成這三個質因數的乘積。<img src="/static/lesson/ㄅ/mul.png"></p>
<p>我們可以進一步再推出120最大的質因數是5。</p>
<p>【最後目標】求600851475143的最大質因數是多少？</p>

<p>如果要找120的質因數，只需檢查比<img src="/static/lesson/1/sqr.png">小的因數是否為質數即可。</p>
<p>使用開根號指令求<img src="/static/lesson/1/sqr.png"></p>
<p>120**0.5</p>
<p>可以使用int函數將開根號後的數字轉換為整數</p>
<p>int(120**0.5)</p>

{% for exercise in exercises %}
<div class="card card-default">   
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}} 
      <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a> 
      <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
      </div>               
     <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        <BR>
        {% if forloop.counter == 1 %}
        <iframe width="800" height="300" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=for%20i%20in%20range%281,121%29%3A%0A%20%20%20%20if%20120%20%25%20i%20%3D%3D0%20%3A%0A%20%20%20%20%20%20%20%20print%28i%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>
        {% elif forloop.counter == 2 %}
        <iframe width="800" height="450" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=def%20%20is_prime%28value%29%3A%0A%20%20%20%20for%20i%20in%20range%282,%20value%29%3A%0A%20%20%20%20%20%20%20%20if%20value%20%25%20i%20%3D%3D%200%3A%0A%20%20%20%20%20%20%20%20%20%20%20%20return%20False%0A%20%20%20%20return%20True%0A%0Anumber%20%3D%20int%28input%28'%E8%AB%8B%E8%BC%B8%E5%85%A5%E6%95%B8%E5%AD%97'%29%29%0Aif%20is_prime%28number%29%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E6%98%AF%E8%B3%AA%E6%95%B8'%29%0Aelse%3A%0A%20%20%20%20print%28'%E6%82%A8%E8%BC%B8%E5%85%A5%E7%9A%84%E4%B8%8D%E6%98%AF%E8%B3%AA%E6%95%B8'%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=9&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%2220%22%5D&textReferences=false"> </iframe>
        {% elif forloop.counter == 3 %}
        <iframe width="800" height="450" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=import%20random%0A%0Anumbers%20%3D%20%5B%5D%0Amax%20%3D%200%0Afor%20i%20in%20range%2810%29%3A%0A%20%20%20%20number%20%3D%20random.randint%280,99%29%0A%20%20%20%20if%20number%20%3E%20max%3A%0A%20%20%20%20%20%20%20%20max%20%3D%20number%0A%20%20%20%20numbers.append%28number%29%0Aprint%28numbers%29%0Aprint%28max%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>
        {% endif %}
      </div>
   </div>
{% endfor %}
