<h1>(4)回文數(palindromic number)</h1>
<p>回文數(或迴文數)是指一個像14641這樣「對稱」的數，即：將這個數的數字按相反的順序重新排列後，所得到的數和原來的數一樣。</p>
<p>【最後目標】</p>
<p>在二個二位數字乘積的數字中，最大的回文數是9009=91*99</p>
<p>請找出二個三位數字乘積數字中，最大的回文數。</p>
<img src="/static/lesson/{{lesson}}/4_1.png"> 
{% for exercise in exercises %}
<div class="card card-default">   
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}} 
      <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a> 
      <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
      </div>               
     <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <BR>
        {% if forloop.counter == 1 %}
        <p>字典是一種資料模型，可以儲存任意型態資料，其內容包含有「鍵(key)」和「值(value)」。</p>
        <p>字典的每個键與值使用「冒號(:)」分割，每對鍵與值之間用「逗號(,)分割，每個键必須是唯一的。</p>
        <p>整個字典則包含在「大括號({})」之內，格式如下所示：</p>
        <img src="/static/lesson/{{lesson}}/4_2.png">        
        {% elif forloop.counter == 2 %}
        <img src="/static/lesson/{{lesson}}/4_3.png"> 
        {% elif forloop.counter == 3 %}
        <img src="/static/lesson/{{lesson}}/4_4.png"> 
        {% endif %}
      </div>
   </div>
{% endfor %}

