<h1>(4)回文數(palindromic number)</h1>
<p>回文數(或迴文數)是指一個像14641這樣「對稱」的數，即：將這個數的數字按相反的順序重新排列後，所得到的數和原來的數一樣。</p>
<p>【最後目標】</p>
<p>在二個二位數字乘積的數字中，最大的回文數是9009=91*99</p>
<p>請找出二個三位數字乘積數字中，最大的回文數。</p>

{% for exercise in exercises %}
<div class="card card-default">   
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}} 
      <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a> 
      <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
      </div>               
     <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <BR>
        {% if forloop.counter == 1 %}
        <p>字典是一種資料模型，可以儲存任意型態資料，其內容包含有「鍵(key)」和「值(value)」。</p>
        <p>字典的每個键與值使用「冒號(:)」分割，每對鍵與值之間用「逗號(,)分割，每個键必須是唯一的。</p>
        <p>整個字典則包含在「大括號({})」之內，格式如下所示：</p>
        <img src="/static/lesson/{{lesson}}/4_1.png"> 
        <p>一個簡單的字典範例，並查詢字典裡的值。</p>
        <p>把相對應鍵放入「中括號([])」，即可查詢其值。</p>
        <img src="/static/lesson/{{lesson}}/4_2.png">        
        {% elif forloop.counter == 2 %}
        <img src="/static/lesson/{{lesson}}/4_3.png">
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=numbers%20%3D%20%7B1%3A'%E5%A3%B9',%202%3A'%E8%B2%AE',%203%3A'%E5%8F%83',%204%3A'%E8%82%86',%205%3A'%E4%BC%8D',%206%3A'%E9%99%B8',%207%3A'%E6%9F%92',%208%3A'%E6%8D%8C',%209%3A'%E7%8E%96',%200%3A'%E9%9B%B6'%7D%0Adecimal%20%3D%20%7B0%3A'',%201%3A'%E6%8B%BE',%202%3A'%E7%99%BE',%203%3A'%E5%8D%83',%204%3A'%E8%90%AC'%7D%0Anumber%20%3D%2036294%0Acount%20%3D%200%0Astring%20%3D%20%22%22%0Awhile%20number%20%3E%200%3A%0A%20%20%20%20digit%20%3D%20number%20%25%2010%0A%20%20%20%20string%20%3D%20numbers%5Bdigit%5D%20%2B%20decimal%5Bcount%5D%20%2B%20string%0A%20%20%20%20number%20%3D%20number%20//%2010%0A%20%20%20%20count%20%3D%20count%20%2B%201%0Aprint%28string%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% elif forloop.counter == 3 %}
        <img src="/static/lesson/{{lesson}}/4_4.png">
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=number%20%3D%20int%28input%28'%E8%AB%8B%E8%BC%B8%E5%85%A5%E6%95%B8%E5%AD%97'%29%29%0Areverse%20%3D%200%0Awhile%20number%20%3E%200%3A%0A%20%20%20%20digit%20%3D%20number%20%25%2010%0A%20%20%20%20reverse%20%3D%20reverse%20*%2010%20%2B%20digit%0A%20%20%20%20number%20%3D%20number%20//%2010%0Aprint%28reverse%29%0A&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% endif %}
      </div>
   </div>
{% endfor %}

