<h1>(6）平方的和 vs 和的平方</h1>
<p>平方的和：將一群數字各自平方後再相加求和。</p>
<p>和的平方：將一群數字相加後再計算其平方的值。</p>
<p>【最後目標】</p>
<p>找出前100個自然數，其和的平方與平方的和，求兩個計算結果的差值。</p>

{% for exercise in exercises %}
<div class="card card-default">   
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}} 
      <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a> 
      <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
      </div>               
     <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <BR>
        {% if forloop.counter == 1 %}
        <img src="/static/lesson/{{lesson}}/6_1.png"> 
        <iframe width="800" height="320" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=sum%20%3D%200%0Afor%20i%20in%20range%281,%2011%29%3A%0A%20%20%20%20sum%20%3D%20sum%20%2B%20i%20**%202%0Aprint%28sum%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>     
        {% elif forloop.counter == 2 %}
        <img src="/static/lesson/{{lesson}}/6_2.png"> 
        <iframe width="800" height="320" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=sum%20%3D%200%0Afor%20i%20in%20range%281,%2011%29%3A%0A%20%20%20%20sum%20%3D%20sum%20%2B%20i%0Aprint%28sum**2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>        
        {% endif %}
      </div>
   </div>
{% endfor %}

