<h1>(7)質數</h1>
<p>質數（Prime number），指在大於1的自然數中，除了1和該數自身外，無法被其他自然數整除的數。</p>
<p>驗證一個數字n是否為質數的一種簡單但緩慢的方法為試除法。此一方法會測試n是否為任一在2與 \(\sqrt{n}\) 之間的整數之倍數。</p>
<p>【最後目標】</p>
<p>找出第10001個質數。</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        <BR>
        {% if forloop.counter == 1 %}
        <iframe width="800" height="450" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=primes%20%3D%20%5B2%5D%0An%20%3D%203%0Awhile%20n%20%3C%20100%20%3A%0A%20%20%20%20max%20%3D%20n%20**%200.5%0A%20%20%20%20for%20i%20in%20primes%3A%0A%20%20%20%20%20%20%20%20if%20n%20%25%20i%20%3D%3D%200%3A%0A%20%20%20%20%20%20%20%20%20%20%20%20break%0A%20%20%20%20%20%20%20%20if%20i%20%3E%20max%3A%0A%20%20%20%20%20%20%20%20%20%20%20%20primes.append%28n%29%0A%20%20%20%20%20%20%20%20%20%20%20%20break%0A%20%20%20%20n%20%3D%20n%20%2B%202%0Aprint%28primes%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% elif forloop.counter == 2 %}
        <iframe width="800" height="330" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=fibonacci%20%3D%20%5B1,1%5D%0Awhile%20len%28fibonacci%29%20%3C%2020%3A%0A%20%20%20%20a1%20%3D%20fibonacci%5B-2%5D%0A%20%20%20%20a2%20%3D%20fibonacci%5B-1%5D%0A%20%20%20%20fibonacci.append%28a1%2Ba2%29%0Aprint%28fibonacci%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% endif %}
    </div>
</div>
{% endfor %}