  <h1>(12)三角數</h1>
<p>一定數目的點或圓在等距離的排列下可以形成一個等邊三角形，這樣的數被稱為三角數。</p>
<p>
<img src="/static/lesson/1/triangular.png">
圖片來源：維基百科
</p>
<p>比如10個點可以組成一個等邊三角形，因此10是一個三角數。</p>
<p>一開始的10個三角形數是1、3、6、10、15、21、28、36、45、55</p>
<p>T(1)=1</p>
<p>T(2)=1+2=3</p>
<p>T(3)=1+2+3=6</p>
<p>T(4)=1+2+3+4=10</p>
<p>T(5)=1+2+3+4+5=15</p>
<p>T(6)=1+2+3+4+5+6=21</p>
<p>T(7)=1+2+3+3+4+5+6+7=28</p>
<p>利用等差數列總和公式推出三角數第n項 \(T(n)=\frac{n(n+1)}{2}\)</p>
<p>在三角數列中28是第一個擁有超過5個因數(1,2,4,7,14,28，共6個)</p>
<p>【最後目標】</p>
<p>求第一個超過500個因數的三角數。</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        {% if forloop.counter == 1 %}
        <p>集合(sets)是一組無序且沒有重複的元素。大括號或 set() 函式都可以用來創建集合。(注意：要創建一個空的集合，必須使用set()而不是{})</p>
        {% endif %}
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
    </div>
</div>
{% endfor %}