  <h1>(14)考拉茲猜想</h1>
<p>任意數使用以下公式可以導出一系列數字，而此數列最終會結束於1(目前尚未被證明)</p>
<p>
\(n =
\begin{cases}
n/2,  & \text{若 $n$ 為偶數} \\
3n+1, & \text{若 $n$ 為奇數}
\end{cases}
\)
</p>
<p>例如 n=13，可以導出以下10個數字，我們可以稱13這個數字的考拉茲生命週期是10。</p>
<p>13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1</p>
<p>【最後目標】</p>
<p>在小於一百萬的數字中，哪一個數字的考拉茲生命週期最長？</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        {% if forloop.counter == 1 %}
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=def%20count_down%28number%29%3A%0A%20%20%20%20print%28number%29%0A%20%20%20%20if%20number%20%3D%3D%201%3A%0A%20%20%20%20%20%20%20%20return%201%0A%20%20%20%20else%3A%0A%20%20%20%20%20%20%20%20count%28number-1%29%0A%0Acount_down%2810%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>
        <p><img src="/static/lesson/1/recursion1.png" style="max-width: 100%"></p>
        <p><img src="/static/lesson/1/recursion2.png" style="max-width: 100%"></p>
        {% elif forloop.counter == 2 %}
        <iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=def%20collatz%28number%29%3A%0A%20%20%20%20global%20numbers%0A%20%20%20%20numbers.append%28number%29%0A%20%20%20%20if%20number%20%3D%3D%201%3A%0A%20%20%20%20%20%20%20%20return%201%0A%20%20%20%20elif%20number%20%25%202%20%3D%3D%200%3A%0A%20%20%20%20%20%20%20%20collatz%28number//2%29%0A%20%20%20%20else%20%3A%0A%20%20%20%20%20%20%20%20collatz%283*number%2B1%29%0A%0Anumbers%20%3D%20%5B%5D%0Acollatz%2813%29%0Aprint%28numbers%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% endif %}
    </div>
</div>
{% endfor %}