  <h1>(14)考拉茲猜想</h1>
<p>任意數使用以下公式可以導出一系列數字，而此數列最終會結束於1(目前尚未被證明)</p>
<p>
\(n =
\begin{cases}
n/2,  & \text{若 $n$ 為偶數} \\
3n+1, & \text{若 $n$ 為奇數}
\end{cases}
\)
</p>
<p>例如 n=13，可以導出以下10個數字，我們可以稱13這個數字的考拉茲生命週期是10。</p>
<p>13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1</p>
<p>【最後目標】</p>
<p>在小於一百萬的數字中，哪一個數字的考拉茲生命週期最長？</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        {% if forloop.counter == 1 %}
        <p><img src="/static/lesson/1/recursion1.png" style="max-width: 100%"></p>
        <p><img src="/static/lesson/1/recursion2.png" style="max-width: 100%"></p>
        {% endif %}
    </div>
</div>
{% endfor %}