<h1>(15)格子路徑</h1>
<p>從2*2方格的左上角出發，沿著向右或向下的路徑前進，最後到達右下角，總共有6種不同的走法。</p>
<p><img src="/static/lesson/1/lattice1.gif"></p>
<p>【最後目標】</p>
<p>從20*20方格的左上角出發，沿著向右或向下的路徑前進，最後到達右下角，總共幾種不同的走法？</p>
<hr>
<p>假設在一個5*3的方格紙中</p>
<p><img src="/static/lesson/1/lattice2.png"></p>
<p>每一橫列小段稱為a，每一縱列小段稱為b，從左上到右下的每一條相異路徑，必然通過5個a，且通過3個b，這8個字母的排列順序，對應到為一個路徑，如下圖的路徑對應為abaabbaa</p>
<p><img src="/static/lesson/1/lattice3.png"></p>
<p>又如下圖的路徑對應為baaababa</p>
<p><img src="/static/lesson/1/lattice4.png"></p>
<p>請問5個a、3個b的排列方法有多少呢？</p>
<p>5+3=8，總共有8個元素要排列，因此可排列出 \(8! = 8 \times 7 \times 6 \times 5 \times 4 \times 3 \times 2 \times 1\)種不同排法。</p>
<p>因為5個a沒有順序性，因此重覆出現了 \(5! = 5 \times 4 \times 3 \times 2 \times 1\) 次。</p>
<p>因為3個b沒有順序性，因此重覆出現了 \(3! = 3 \times 2 \times 1\) 次。</p>
<p>所以總共有 \(\frac{(5+3)!}{5! 3!}\) 種不同的排列方法。</p>
<p>階乘寫法可以參考第20題。</p>
