<h1>(16)數字和</h1>
<p>\(2^{10} = 1024\)，將這個展開後的數字拆開相加，1+0+2+4=7，可以得到數字和7</p>
<p>【最後目標】</p>
<p>將 \(2^{1000}\) 展開後的數字拆開相加，求數字和。</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        <BR>
        {% if forloop.counter == 1 %}
        <iframe width="800" height="330" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=number%20%3D%2010715086071862673209%0Asum%20%3D%200%0Afor%20digit%20in%20str%28number%29%3A%0A%20%20%20%20sum%20%3D%20sum%20%2B%20int%28digit%29%0Aprint%28sum%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"></iframe>
        {% endif %}
    </div>
</div>
{% endfor %}