<h1>(17)英文數字</h1>
<p>342轉成英文後是「three hundred and forty-two」這個英文字總共包含23個字母。</p>
<p>115轉成英文後是「one hundred and fifteen」這個英文字總共包含20個字母。</p>
<p>【最後目標】</p>
<p>將1到1000的數字都寫成英文，一共有多少個字母？</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
    </div>
</div>
{% endfor %}