<h1>(18)最大路徑和</h1>
<p>一個給定的4層數字三角形（第n層有n個數），從最頂數位出發每次只能移動到左下或右下的直到最底層。在所有的路徑中，經過路徑數字和最大值是3+7+4+9=23。</p>
<p><img src="/static/lesson/1/route1.png"></p>
<p>【最後目標】</p>
<p>一個給定的15層數字三角形（第n層有n個數），從最頂數位出發每次只能移動到左下或右下的直到最底層。請找出最大的經過路徑數字和。</p>
<p><img src="/static/lesson/1/route2.png"></p>
<p>【討論】</p>
<p>每次移動只有左下和右下兩種不同走法，若是左下用0表示，右下用1表示，則走3層有幾種不同走法呢?</p>
<p>用0和1組成長度3的數列有000,001,010,011,100,101,110,111，共有 \(2^3=8\) 種</p>
<p><a href="/static/files/euler/numbers4.txt">下載數字</a></p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
    </div>
</div>
{% endfor %}