<h1>(19)計算星期數</h1>
<p>【最後目標】</p>
<p>已知1900年元旦是星期一，求1901年1月到2000年12月中，有多少月份的第一天(1號)是星期日。</p>
<p>【討論】</p>
<p>Python可以從某一天的日期得到該天是星期幾，星期一的值是0，星期日的值是6。</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
    </div>
</div>
{% endfor %}