<h1>(20)階乘數字和</h1>
<p>一個正整數的階乘（英語：factorial）是所有小於及等於該數的正整數的乘積，並且有0的階乘為1。自然數n的階乘寫作n!。</p>
<p>\(5! = 5 \times 4 \times 3 \times 2 \times 1 = 120\)</p>
<p>將5!展開後的數字和為1+2+0=3</p>
<p>【最後目標】</p>
<p>求 100! 展開後的數字和</p>

{% for exercise in exercises %}
<div class="card card-default">
    <div class="card-header"><button type="button" class="btn btn-info">練習{{forloop.counter}}</button>
        {{exercise.0}}
        <a id="expand{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="expand btn btn-success" role="btn" style="display:inline">展開</a>
        <a id="close{{forloop.counter}}" onclick="return false;" href="#" data-contentid="{{forloop.counter}}" class="unexpand btn btn-success" role="btn" style="display:none">關閉</a>
    </div>
    <div id="memo{{forloop.counter}}" class="card-body" data-contentid="1" style="display:none">
        <img src="/static/lesson/{{lesson}}/{{unit}}_{{forloop.counter}}.png">
        {% if forloop.counter == 1 %}
        <p>數字和解法可以參考第16題。</p>
        {% endif %}
    </div>
</div>
{% endfor %}