<h1>(20)階乘數字和</h1>
<p>一個正整數的階乘（英語：factorial）是所有小於及等於該數的正整數的乘積，並且有0的階乘為1。自然數n的階乘寫作n!。</p>
<p>5! = 5*4*3*2*1 = 120</p>
<p>將5!展開後的數字和為1+2+0=3</p>
<p>【最後目標】</p>
<p>求 100! 展開後的數字和</p>
<p>練習1：求100!展開後的數字</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">math</span> <span class="kn">import</span> <span class="n">factorial</span>

<span class="k">print</span><span class="p">(</span><span class="n">factorial</span><span class="p">(</span><span class="mi">100</span><span class="p">))</span>
</pre></div>
</td></tr></table></div>
<p>數字和解法可以參考第16題。</p>


