{% extends "base.html" %}
{% load tag %}

{% block header %}
  <!-- MathJax: Begin -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <!-- MathJax: End -->
  {% if user.is_authenticated %}
    <!-- Annotation Assets: Begin -->
    <link rel="stylesheet" href="/static/scripts/annotator/annotator.min.css" type="text/css" media="all" />
    <script type="text/javascript" src="/static/scripts/annotator/annotator-full.min.js"></script>
    <link rel="stylesheet" href="/static/scripts/annotator/annotator.touch.css" type="text/css" media="all" />
    <script type="text/javascript" src="/static/scripts/annotator/annotator.touch.min.js"></script>
    <script type="text/javascript" src="/static/scripts/annotator/annotator.extrafield.js"></script>
    <script type="text/javascript" src="/static/scripts/annotator/annotator.image.js"></script>
    <!-- Annotation Assets: End -->
  {% endif %}
{% endblock %}

{% block content %}
  {{ request.method }}
  {% if lesson == 1 %}
    <div class="annotate">
    {% include page %}
    </div>
    {% if mygroup or classgroup %}
    <form id="groupFilter" method="POST">
      {% csrf_token %}
      <input type="hidden" id="classID" name="classID" value="">
      <input type="hidden" id="groupID" name="groupID" value="">
      <input type="hidden" id="group" name="group" value="">
    </form>
      {% if mygroup %}
      <hr>
      <div id="mygroup-list">
        查看同組成員標註：
        {% for mg in mygroup %}
        <button class="btn btn-sm" data-groupid="{{ mg.group_id }}" data-classid="{{ mg.classroom_id }}" data-group="{{ mg.group|default_if_none:0 }}">{{ mg.classname }}</button>
        {% endfor %}
      </div>
      {% endif %}
      {% if classgroup %}
      <hr>
      <table id="classgroup-list" class="table table-sm">
        <thead>
          <tr>
            <th colspan="2">查看班級學生標註</th>
          </tr>
        </thead>
        <tbody>
          {% for cg in classgroup %}
          <tr>
            <td class="class-group">{{ cg.classname }}</span> <span class="badge badge-primary">{{ cg.title|default_if_none:"不分組" }}</span></td>
            <td class="group-list" data-groupid="{{ cg.group_id }}" data-classid="{{ cg.classroom_id}}" data-groups="{{ cg.count|default_if_none:0 }}"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block domready %}
  {% if user.is_authenticated %}
  // Annotation //
  userAnnotationInit({{ user.id }}, {{ lesson }}, {{ unit }}, '{{ user.first_name }}', {{ classID }}, {{ groupID }}, {{ group }});
    {% if mygroup %}
      $('#mygroup-list button').on('click', function(e) {
        var item = e.target;
        $('#classID').val($(item).data('classid'));
        $('#groupID').val($(item).data('groupid'));
        $('#group').val($(item).data('group'));
        $('#groupFilter').submit();
      });
    {% endif %}
    {% if classgroup %}
      function _addButton(container, index) {
        var btn = document.createElement('button');
        btn.classList.add('btn', 'btn-sm', 'btn-default', 'mr-1');
        btn.innerText = (index == 0 ? "不分組" : `第 ${index} 組`);
        $(btn).data('group', index);
        $(btn).on('click', function(e) {
          var item = e.target;
          $('#classID').val($(item).parent().data('classid'));
          $('#groupID').val($(item).parent().data('groupid'));
          $('#group').val($(item).data('group'));
          $('#groupFilter').submit();
        });
        $(container).append(btn);
      }
      $('td.group-list').each(function(index, item){
        var count = $(item).data('groups');
        for (var i = 0; i <= count; i++) {
          _addButton(item, i);
        }
      });
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer_script %}
$('a.expand').click(function(e){
  var launcher = this;  
  $(launcher).hide();
  $("#div"+$(launcher).data('contentid')).show();
  $("#memo"+$(launcher).data('contentid')).show();          
  $("#close"+$(launcher).data('contentid')).show();          
});  

$('a.unexpand').click(function(e){
  var launcher = this;  
  $(launcher).hide();
  $("#div"+$(launcher).data('contentid')).hide();
  $("#memo"+$(launcher).data('contentid')).hide();          
  $("#expand"+$(launcher).data('contentid')).show();          
});

  {% if request.method == "POST" %}
    $("a.expand").trigger('click');
  {% endif %}
{% endblock %}
