{% extends "base.html" %}
{% load tag %}
{% block content %}
{% if canread %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex" style="justify-content: space-between">
                <h3 class="message-title">{{ message.title }}</h3>
                {% if not request.user.id == message.author_id %}
                <div>
                <a class="btn btn-sm btn-primary" href="/account/line/reply/{{message.classroom_id|abs_filter}}/{{message.author_id}}/{{message.id}}">
                    <i class="fas fa-reply"></i> 回覆訊息
                </a>
                </div>
                {% endif %}
            </div>
            {% if message.type == 2 %}
            <div class="d-flex" style="justify-content: space-between">
                <div><i class="fas fa-clock"></i> {{message.time| date:"Y/m/d H:i"}}</div>
                <div class="d-flex">
                    <div>{{message.author_id|nickname}}</div>
                    <div><i class="fas fa-arrow-alt-circle-right"></i></div>
                    <div>
                        {{messagepoll.reader_id|nickname}}
                        {% if messagepoll.read %}(已讀){% else %}(未讀){% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            {% if message.content %}
                {{ message.content|safe }}
            {% else %}
                無
            {% endif %}
        </div>
        {% if files %}
        <div class="card-footer">
            {% for file in files %}
            <div class="list-group-item">
                <span class="badge badge-primary">{{ forloop.revcounter }}</span>
                {% if file.title|is_pic %}
                    <a href="/account/line/showpic/{{file.id}}" target="_blank">{{file.title}}</a>
                {% else %}
                    <a href="/account/line/download/{{file.id}}" target="_blank">{{file.title}}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if lists and message.type == 2 %}
    <hr>
    <div class="card">
        <div class="card-header">
            <h3>歷史私訊</h3>
        </div>
        <ul class="list-group">
            {% for list in lists %}
            <li class="list-group-item">
                {{list.time}}<a href="/account/line/detail/{{list.classroom_id|abs_filter}}/{{list.id}}">{{list.title}}</a>
            </li>
            {% empty %}
            <li class="list-group-item">無</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endif %}
{% endblock %}